html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to-bottom, #00aaff , #ff66b2);
}

canvas {
  display: block;
}

h1{
  text-align: center;
  font-family:  'pixely Sans', cursive; 
  text color: rgb(235,17,17);
}

body{
  background-color: #EE82EE;
  display: center;
}
main{
  position: absolute;
  top: 350px;
  left: 450px;
}


