
  body{
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(120deg, #9932CC, #ff2525da);
    height: 100vh; 
}

canvas {
  display: block;
}

h1{
  text-align: center;
  font-family:  'pixely Sans', cursive; 
  text color: rgb(235,17,17);
}

main{
  position: absolute;
  top: 250px;
  left: 600px;
}


