
  body{
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(120deg, #9932CC, #ff2525da);
    height: 100vh; 
}

canvas {
  display: block;
}


main{
  position: absolute;
  top: 250px;
  left: 600px;
}


